h2 {
  font-weight: bold;
  font-size: 12em;
}

h3 {
  font-size: 3em;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.dimmed-text {
  font-size: 7em;
  color: rgb(0, 0, 0, 0.64);
}

.work-time {
  background-color: rgb(255, 110, 110);
}

.rest-time {
  background-color: rgb(108, 207, 99);
}
